Flask==3.1.0
flask_cors==5.0.1
gTTS==2.5.4
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
prophet==1.1.6
protobuf==6.30.2
PyPDF2==3.0.1
pytesseract==0.3.13
Requests==2.32.3
scikit_learn==1.6.1
SpeechRecognition==3.14.1
